
@media(max-width: 917px){
  
    nav ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: blue;
      position: fixed;
      top: 0;
      right: 0;
     border-radius: 10px;
      left: 100%;
      height: 40%;
      width: 100%;
      transition: 0.4s ease-in-out;
      z-index: 1;
    }
    main .path{
        clip-path: none;
    }
    .iconeBurguer i{
        display: block;
       font-size: 4rem;
       z-index: 10;
       position: fixed;
       top: 0;
       right: 0;
    }
    .iconeBurguer{
      
        z-index: 10;
        color: white;
    }
    main .home-flex{
        flex-direction: column-reverse;
        width: 100%;
        padding-top: 10% ;
    }
    main .home-flex .home-text{
        margin-top: 7%;
        width: 100%;
    }
    main .home-flex .home-imagem img{
        width: 100%;
    }
    .about .about-flex{
        flex-direction: column;
        width: 100%;
        padding-top: -10% ;
    }
    .about .about-flex .about-imagem{
      width: 100%;
    }
    .about .about-flex .about-text{
        width: 100%;
    }
    .form-flex{
        flex-direction: column;
        width: 100%;
    }
    .form-flex .img-flex img{
        width: 100%;
    }
    .form-flex .formulario {
        width: 100%;
    }
}


@media(max-width: 414px){
    .skills .cards .card-item{
        width: 100%;
    }
    .contactos .form-flex .img-flex{
        width: 100%;
    }
    .contactos .form-flex .formulario{
        width: 100%;
    }
    .contactos .form-flex .formulario form label{
        font-size: 1.9rem;
        font-weight: 700;
    }
}
@media(max-width: 565px){
    .skills .cards .card-item{
        width: 100%;
    }
    nav ul{
        width: 100%;
    }
   .project-flex .projecards img{
        width: 100%;
    }
    .contactos .form-flex .formulario{
        width: 100%;
    }
}